body{
  padding: 0;
  font-family:  'Inter', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
}

#free-shipping {
  background-color: #eab9b9;;
  font-size: 17px;
  text-align: center;
  padding: 17px;
  margin-top: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  box-sizing: border-box;

}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-top: 0.5%;
  width: 80%;
  font-size: 16.5px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(92, 91, 91);
  font-weight: 300;
}

.nav-links:hover{
  text-decoration: underline;
  color: black;
}

.icon{
  color:  rgb(92, 91, 91);
  justify-content: space-around;
}

.icon:hover{
  transform: scale(1.3);
}

.video{
  display: flex;
  justify-content: center;
  
}

.images-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images{
  width: 25%;
  border-radius: 2%;
  color: rgb(113, 111, 111);
}

.img{
  width: 65%;
  height: 65%;
  border-radius: 5%;
}

h1{
  color: darkslategray;
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom: 2%;
}

.img:hover{
  transform: scale(1.1);
}

.a-tag{
  text-decoration: none;
  color: rgb(108, 106, 106);
}

#star-img{
  width: 3.5%;
}

p{
  font-size: 1em;
  color: rgb(92, 91, 91);
}

.prev-price{
  text-decoration: line-through;
  color: grey
}
.sale-price{
  font-size: 1.1em;
}

#care{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

#care-img{
  border-radius: 5%;
  width: 90%;
  height: 35em;
  object-fit: cover;
}
#ins{
  text-decoration: none;
  font-size: 1.1em;
}

#fb{
  color: black;
  text-align: center;
  font-weight: 900;
  margin-top: 3%;
}

.id-img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
   margin-bottom: 5%;
   display: block;
}

#feedback{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.div{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 30%;
  text-align: center;   
  padding: 10px;
  box-sizing: border-box;
}

.sign-up{
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  box-sizing: border-box;
  padding: 3%;
}
#input{
  height: 3em;
  width: 40em;
  border-radius: 10px;
  border: 2px solid black;
} 
input::placeholder{
  font-size: 20px;
}

h2,h3{
  font-size: 1em;
}

